body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: black;
  }
  
  .slider-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  img {
    width: 1000px;
    height: auto;
  }
  
  .prev-btn,
  .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    padding: 10px;
    background-color: #fff7cc00;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .prev-btn {
    left: 0;
  }
  
  .next-btn {
    right: 0;
  }
  